body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #451952;
}

header {
    background-color: #451952;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #ffa3fd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-gap: 10px;
}

button {
    padding: 10px;
    background-color: #451952;
    color: #fff;
    border: none;
    cursor: pointer;
}